.flashes h4 {
    line-height: 2;
}
.btn-small {
    margin: 5px;
}
.test {
    background-color: red;
}
.customModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.hidden {
    display: none;
}