{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Task</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" class="btn-large light-blue darken-2">
                Add Category
                <i class="material-icons right">send</i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for cat in categories %}
            <div class="col s12 m6 l3 center-align">
                <div class="card {{ cat.category_color }}">
                    <div class="card-content white-text">
                        <span class="card-title">{{ cat.category_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_category', category_id=cat._id) }}" class="btn-small green">Edit</a>
                        <a href="#" onclick="showModal(event)" class="btn-small red">Delete</a>
                        <div class="customModal hidden">
                            <div class="customModal-content">
                                <a href="{{ url_for('delete_category', category_id=cat._id) }}" class="btn-small red">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}