{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
            {{ user.username }}'s Profile
            </h3>
            <h4>Details</h4>
            <p>Username: {{ user.username }}</p> <a href="{{ url_for('edit_user', user_id=user._id) }}" class="btn">Edit Details</a>
        </div>
    </div>
</div>

<div class="row">
    <h4 class="center-align">Liked Tasks</h4>
        {% for task in tasks %}
            <div class="col s12 m6 l3 center-align">
                <div class="card">
                    <span>{{ task.task_name }}</span>
                </div>
            </div>
        {% endfor %}
</div>

<div class="row">
    <h4 class="center-align">Owned Tasks</h4>
        {% for owned in user_owned %}
            <div class="col s12 m6 l3 center-align">
                <div class="card">
                    <span>{{ owned.task_name }}</span>
                </div>
            </div>
        {% endfor %}
</div>

{% endblock %}